@page
@model VinylShop.Areas.Shop.Pages.Orders.SuccessModel

@{
    ViewData["Title"] = "Замовлення успішне";
}

<link rel="stylesheet" href="~/css/success.css" />
<script src="~/js/success.js" asp-append-version="true"></script>

@await Html.PartialAsync("_Banner", (string)null)

<div class="order-container">
    <div class="success-card">
        <h2 class="success-title">Дякуємо за покупку! 💚</h2>
        <p class="success-text">Ваше замовлення було успішно оформлено.</p>

        <a href="/Shop/Albums/Albums" class="btn btn-success return-button">Повернутися до магазину</a>
    </div>
</div>
