@page
@model VinylShop.Areas.Shop.Pages.Orders.SuccessModel

<link rel="stylesheet" href="~/css/order.css" />

<div class="success-screen">
    <h2>Thank You for Your Purchase!</h2>
    <p>Your order has been successfully placed.</p>
    <a asp-page="../Home/Index" class="btn-primary">Back to Shop</a>
</div>
