<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - VinylShop</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!-- <header>
        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> |
            <a asp-area="Shop" asp-page="/Home/Index">Shop</a> |
            <a asp-area="Admin" asp-controller="Albums" asp-action="Index">Admin</a>
        </nav>
    </header> -->
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
