<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - VinylShop</title>
    <link rel="stylesheet" href="~/css/shop.css" />
    <style>
        body { margin: 0; padding: 20px; font-family: 'Montserrat', sans-serif; }
    </style>
</head>
<body>
    <main>
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>
