@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" method="post">
            <h2>Створити акаунт</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Підтвердження паролю</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Реєстрація</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
            integrity="sha512-FOs0K8PStFQ0U0x3Jg78SnpX+L0PL5nIEmnwvUT8KynOCk+b+Z2vPMZ8ikghAbO3VmkkfIVM36qfK2ZtGkL2UQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"
            integrity="sha512-kV4uLHE/VpNZZUgHszTgURzWH2N3Jq3S0dnzWiPUjeoY7k7h/d9JtfvnpnK0uQAtWZkVcY6Z9IH/MpQ7+R4dlg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    @if ((ViewData["RegistrationSuccess"]?.ToString().ToLower() ?? "") == "true")
    {
        <script>
            if (window.top !== window.self) {
                window.top.postMessage({ action: 'loginSuccess' }, '*');
            }
        </script>
    }
}
