body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f8fa;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.fullscreen-bg {
    background: url('/img/main_1.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.fullscreen-content {
    display: flex;
    flex-direction: column; 
    top: -30%;
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.fullscreen-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Темний напівпрозорий фон */
    z-index: 1;
}

.albums-section {
    padding: 40px;
    text-align: center;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    border-radius: 6px;
    display: inline-block;
    transition: background-color 0.2s ease-in-out;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.btn-success {
    background-color: #198754;
}

.btn-success:hover {
    background-color: #157347;
}

.albums-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
    margin-top: -580px;
    z-index: 333
    ;
}

.album-card {
    background: #fff;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-card:hover {
    transform: scale(1.05);
}

.album-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.album-info {
    margin-top: 8px;
    padding: 0px;
    text-align: center;
}

.album-info h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
    font-weight: 700;
}

.album-info p {
    margin-bottom: 5px;
    color: #666;
}

.album-info p:last-child {
    color: #198754;
    font-weight: 700;
}